node_modules
config.json
config-main.json
.vscode/
placeholder_to_run_action
images/AlienWallpaper
commands/ufoApply.js
commands/ufosmp.js
commands/sub2alien.js
.env
.addCompLib
test.js
launch.json
mongodb.jsold